<%= render '/shared/errors', object: @user %>

<div class="container">
	<div class="row center sign-up-form">
		<div class="col s12 m12 l12">
			<div class="card-panel">
				<h3 class="header"><%= @user.new_record? ? "SIGN UP!" : "EDIT YOUR PROFILE" %></h3>
				<div class="row">
					<%= form_for(@user, html: {class: "col s12"}) do |f| %>
					   <div class="row">
						   <div class="input-field col s12">
							   <%= f.text_field :name, placeholder: "Enter your full name", autofocus: true %>
							   <%= f.label :name %>
						   </div>
					   </div>
					   <div class="row">
						   <div class="input-field col s12">
							   <%= f.email_field :email, placeholder: "Enter your email address" %>
							   <%= f.label :email %>
						   </div>
					   </div>
					   <div class="row">
						   <div class="input-field col s12">
							   <%= f.text_field :phonenumber, placeholder: "Enter your phone number" %>
							   <%= f.label :phonenumber %>
						   </div>
					   </div>
					   <div class="row">
						   <div class="input-field col s12">
							   <%= f.text_field :description, placeholder: "Provide a description" %>
							   <%= f.label :description %>
						   </div>
					   </div>
					   <div class="row">
						   <div class="input-field col s12">
					          <%= f.submit(@user.new_record? ? "SIGN UP" : "SUBMIT CHANGES", class: "btn orange waves-effect waves-light center") %>
					   	   </div>
					   </div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>